
@{
	ViewData["Title"] = "LaborDay";
}

<link rel="stylesheet" href="~/css/mainview.css" />
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
</head>

<body>
	<form asp-action="AddGolfer">
		Golfer name: <input type="text" name="golferName" size="10" style="font-size:smaller"><br>
		<input type="submit" value="Add" style="font-size:smaller">
	</form>
</body>

