@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LaborDay.Models.ScoreCard
@{
}
<form asp-controller="Bets" asp-action="ScoreCard" method="post">
	<div style="display: grid; width:200px; ">
		<div style="grid-column:1; background-color: oldlace;">
			<label>Golfer</label><br />
			<select asp-for="golferSelect" asp-items="Model.Golfers" required>
				<option value=""></option>
			</select>
		</div>
		<div style="grid-column:2; background-color:papayawhip;">
			<label>Hole</label><br />
			<select asp-for="holeSelect" asp-items="Model.Holes" required>
				<option value=""></option>
			</select>
		</div>
		<div style="grid-column:3;background-color:peachpuff">
			<label>Score</label><br />
			<select asp-for="scoreSelect" asp-items="Model.Scores" required>
				<option value=""></option>
			</select>
		</div>
		<div style="grid-column:4;">
			<br />
			<input type="submit" value="Submit" />
		</div>
	</div>

		
</form>