@model LaborDay.Models.MainView
@{
    ViewData["Title"] = "LaborDay";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h2>Labor Day</h2>
<body>
    <table>
        <tr>
            <th width="150">Golfer</th>
            <th width="50">Win</th>
            <th width="50">Place</th>
            <th width="50">Show</th>
        </tr>
        @foreach(var g in Model.golferList)
        {
        <tr>
            <td>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myPopUp">@g.GolferName</button>
                <div id="myPopUp" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <table>
                                <tr>
                                    <th>Golfer</th>
                                    <th>Win</th>
                                    <th>Place</th>
                                    <th>Show</th>
                                </tr>
                                <tr>
                                    <th>@g.GolferName</th>
                                    <th><input type="checkbox" name="win" value=""></th>
                                    <th><input type="checkbox" name="place" value=""></th>
                                    <th><input type="checkbox" name="show" value=""></th>
                                </tr>
                               
                            </table>
                        </div>
                        <div class=" modal-footer">
                            <button type="submit" class="btn btn-default">Bet</button>
                            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </td>
            <td>
                <label>
                    0
                </label>
            </td>
            <td>
                <label>
                    0
                </label>
            </td>
            <td>
                <label>
                    0
                </label>
            </td>
        </tr>

        }
        
    </table>
</body>

